@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 16px;
}

footer {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #B4CF66;
    position: fixed;
    bottom: 0;
}

img {
    height: 200px;
}

nav{
    border-bottom: black 1px solid;
    padding: 16px;
    background-color: #FF5A33
}

a {
    text-decoration: none;
}

a:hover {
    background-color: rgba(0, 128, 0, 0.288);
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-page-hyperlink {
    color: white;
}

.h1-title {
    color: #146152;
}

.taco-grouping {
    color: #44803F;
}

.taco-grouping a:visited {
    color: #44803F;
}

.star-rating {
    color: black;
}

tr:nth-child(even) {
    background-color: rgb(211, 211, 211)
}
